.jumbotron-fluid{
    background: url('../Svg/Black-Animation-Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.search_main_page{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.catrgories_main{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 30px;
}
.card-img-top{
    max-height:15rem;
    min-height:15rem;
    border-radius: 11px 11px 11px 11px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-img-top:hover{
   cursor: pointer;
}

.card_main_para{
    margin-top: -110px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.tags_main{
    display: flex;
    justify-content: space-around;
    margin: 10px 50px;
}
.tags_main p{
    background:  #d5d8dc ;
    color: #000;
    font-weight: 600;
    padding: 9px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    transition: all;
}
.tags_main p:hover{
    background: #fdedec  ;
    color:   #cb4335  ;
    font-weight: 600;
    padding: 9px;
    border-radius: 20px 20px 20px 20px;
}


@media screen and (max-width: 980px) {
    .search_main_page{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .catrgories_main{
        display: flex;
        justify-content: space-around;
        margin: 10px auto;
        text-align: center;
    }
    .card-img-top{
        max-height:10rem;
        min-height:10rem;
    }
    .card_main_para{
        margin-top: -100px;
        color: #fff;
    }
    .tags_main{
        display: none;
       
    }
    
}