.Navbar_bg{
    background:transparent;
}
.navbar_section{
    margin: 0 auto;
    width: 95%;
    padding-top: 0;
    color: #000;
}
.navbar-brand{
    color: #000;
    font-weight: 700;
}
.nav-link{
    color: #000;
    font-weight: 600;
    transition:2s all
}
.nav-link:hover{
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid #fff !important;
}

@media screen and (max-width: 980px) {
    .navbar_section{
        margin: 0 auto;
        width: 90%;
        padding-top: 0rem;
    }
}